<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
  <div>
      <table>
          <thead>
          <tr>
            <th>#</th>
            <th>이름</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
          </tr>
          </tbody>
      </table>
  </div>
</div>

</body>
</html>